@namespace Layout.Ui.Ui.Components
@attribute [PiralExtension("Layout.Sidebar")]

<div style="background: silver; display: flex; flex-direction: column; align-items: stretch;">
    <Extension Name="Layout.Sidebar.Top" />
    <div style="flex-grow:inherit;"></div>
    <Extension Name="Layout.Sidebar.Bottom" />
</div>

@code{

}