@page "/logger"
@using Microsoft.Extensions.Logging;
@inject ILogger<Logger> _logger

<h1>Logger</h1>

@code{
    protected override void OnInitialized()
    {
        base.OnInitialized();
        _logger.LogError("ERROR log");
        _logger.LogCritical("CRITICAL log");
        _logger.LogWarning("WARNING log");
        _logger.LogInformation("INFORMATION log");
        _logger.LogTrace("TRACE log");
        _logger.LogDebug("DEBUG log");
    }
}
