@attribute [PiralExtension("Layout.Sidebar.Top")]

<ul>
    <li>
        <a href="/extension">Extension</a>
    </li>
    <li>
        <a href="/image">Image</a>
    </li>
    <li>
        <a href="/loadorder">LoadOrder</a>
    </li>
    <li>
        <a href="/generic">Generic</a>
    </li>
    <li>
        <a href="/logger">Logger</a>
    </li>
</ul>