@attribute [PiralExtension("Test.Extension")]

<div style="border: 1px solid salmon;">
    Hello, i am the extension.<br />
    The Value is: <strong>@Parameters.Value</strong>
</div>

@code {
    [Parameter]
    [PiralParameter("params")]
    public TestExtensionParams Parameters { get; set; }
}