@namespace Framework.Components
@inherits BaseComponent
@attribute [PiralComponent]

<div class="logo">
    <img src=@PiletService.GetUrl("_content/Framework/logo.png") alt="Logo" />
</div>

@code{
    [Parameter] 
    public IPiletService PiletService { get; set; }
}